.dart_tool/
.idea/
build/
android/local.properties
ios/Flutter/Generated.xcconfig
windows/flutter/ephemeral/
windows/flutter/ephemeral/flutter_windows.dll.pdb
linux/flutter/ephemeral/
macos/flutter/ephemeral/
web/
build/flutter_assets/NOTICES
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
.idea/misc.xml
.idea/caches/deviceStreaming.xml
.dart_tool/version
.dart_tool/package_config_subset
.dart_tool/package_config.json
build/f872507f30e2ff2523f0f1d19160266e.cache.dill.track.dill
.idea/misc.xml
.dart_tool/package_config.json
.dart_tool/package_config_subset
